@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tienda Virtual</h1>
    <p class="lead">Tenemos a disposición muchos productos</p>
    <p>@Html.ActionLink("Empieza a comprar", "Index", "Productos", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Gestionar productos</h2>
        <p>Puedes agregar, modificar y eliminar productos desde aquí</p>
        <p>@Html.ActionLink("Ir a productos", "Index", "Productos", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-6">
        <h2>Ver pedidos</h2>
        <p>Puedes ver los pedidos que se han hecho</p>
        <p>@Html.ActionLink("Ir a pedidos", "Index", "Pedidos", null, new { @class = "btn btn-default"})</p>
    </div>
</div>